{<<"app">>,<<"grpcbox_plugin">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,
 <<"Rebar3 plugin to generate behaviours for grpc services">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"priv/grpcbox_service_bhvr.erl">>,
  <<"priv/grpcbox_service_bhvr.template">>,
  <<"priv/grpcbox_service_client.erl">>,
  <<"priv/grpcbox_service_client.template">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/grpcbox_plugin.app.src">>,
  <<"src/grpcbox_plugin.erl">>,<<"src/grpcbox_plugin_prv.erl">>]}.
{<<"licenses">>,[<<"Apache 2.0">>]}.
{<<"links">>,
 [{<<"Github">>,<<"https://github.com/tsloughter/grpcbox_plugin">>}]}.
{<<"name">>,<<"grpcbox_plugin">>}.
{<<"requirements">>,
 [{<<"gpb">>,
   [{<<"app">>,<<"gpb">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 4.11">>}]},
  {<<"providers">>,
   [{<<"app">>,<<"providers">>},
    {<<"optional">>,false},
    {<<"requirement">>,<<"~> 1.8">>}]}]}.
{<<"version">>,<<"0.9.0">>}.
